html {
	height: 100%;
	width: 	100%;
}

body {
	/*overflow: hidden;*/ /* [Caigoy,030316,QA-8636;QACN-31] Fixed positioning and hidden overflow caused IE9 to crop main div  */
	width: 100%;
	height: 100%;
	margin: 0px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: fixed;
	-ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
/*
	-ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);*/
}

/* scaling fixes */

/*****************/

#shell-spinner {
	width: 65px;
	height: 65px;
	/*background: url("../../html5/bt/round10.1/shell/spinner.gif") no-repeat -9px 0px;*/
	background-size: contain;
	background-color: #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	box-shadow: 0px 0px 5px #555;
	margin: 0px auto;
	overflow: hidden;
	display: none;
}

#content-wrapper {

	position: absolute;
	width: 1008px;
	height: 650px;
	top: 0px;
	left: 0px;

	-webkit-transform: translateZ(0);
   -moz-transform: translateZ(0);
   -ms-transform: translateZ(0);
   -o-transform: translateZ(0);
   transform: translateZ(0);

	  -webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
   -ms-backface-visibility: hidden;
   backface-visibility: hidden;

   -webkit-perspective: 0;
   -moz-perspective: 1000;
   -ms-perspective: 1000;
   perspective: 1000;

	 visibility: hidden;
}


#maindiv {
	position: relative;
	width:1008px;
	height:650px;
	top: 0px;
	left: 0px;

/*	margin-left: -489px !important;
	margin-top: -325px !important;*/
	border: 1px solid #FFCC00;
	box-shadow: 0px 0px 50px #000;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.maindiv-fadein {
	transition: all 200ms;
   -webkit-transition: all 200ms;
	opacity: 0;
}
.maindiv-fadein.show {
	opacity: 1;
}

#content_area {
	position:absolute;
	width:900px;
	height:650px;
	left:108px;
	top:0px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 0px !important;
    overflow: hidden;

	/*-ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;

	-ms-transform: scale(1.181);
    -webkit-transform: scale(1.181);
    transform: scale(1.181);*/
}

#maindiv.full-screen #content_area {
	left: 0px;
  width: 100%;
}

.full-screen-back-button {
	position: absolute;
	top: 0;
	left: 0;
	width: 80px;
	height: 80px;
	-webkit-transition: all 300ms;
	transition: all 300ms;
	-webkit-transform: translate(-80px, -80px);
	-ms-transform: translate(-80px, -80px);
	transform: translate(-80px, -80px);
}

#maindiv.full-screen .full-screen-back-button {
	cursor: pointer;
	-webkit-transform: translate(0px, 0px);
	-ms-transform: translate(0px, 0px);
	transform: translate(0px, 0px);
}

#maindiv.full-screen.full-screen-hide-back-button .full-screen-back-button {
	display: none;
}


.gpu-accelerate {
		-webkit-transform: translateZ(0);
   -moz-transform: translateZ(0);
   -ms-transform: translateZ(0);
   -o-transform: translateZ(0);
   transform: translateZ(0);

	  -webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
   -ms-backface-visibility: hidden;
   backface-visibility: hidden;

   -webkit-perspective: 1000;
   -moz-perspective: 1000;
   -ms-perspective: 1000;
   perspective: 1000;
}

#user_points {
	position: absolute;
	text-align: center;
	bottom: 7px;
	width: 100%;
	color: #fff;
}

#panel-left {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 105px;
	background-color: #FFEF91;
	height: 100%;
	border-right: 3px solid #FFCC00;
	-webkit-transition: transform 300ms;
	transition: transform 300ms;
}

#maindiv.full-screen #panel-left {
	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
}

#panel-left-mask {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .5);
}
#panel-left.mask-panel #panel-left-mask {
    display: block;
}
.btn-shell {
	width: 81px;
	height: 80px;
	margin: 8px auto;
	cursor: pointer;
	font-weight: 700;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-image: url("../../html5/bt/round10.1/shell/shell-icons-r2.png");
	position: relative;
	/*opacity: 0.9;*/
}

.btn-shell-about {
	width: 81px;
	height: 80px;
	margin: 8px auto;
	cursor: pointer;
	font-weight: 700;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-image: url("../../html5/bt/round10.1/shell/shell-icons-r2.png");
	position: relative;
	/*opacity: 0.9;*/
}

#shell-aboutme{
	position: absolute;
	top: 120px;
	left: 15px;
	width: 77px;
	height: 72px;
	border-radius: 10px;
	background-size: 77px 96px;
	background-repeat: no-repeat;
}
#av-backimg{
	position: absolute;
	top: 118px;
	left: 15px;
	width: 77px;
	height: 72px;
	border-radius: 10px;
	background-position: -6px -81px !important;
	background-repeat: no-repeat;
	background-image: url("../../html5/bt/round10.1/shell/shell-icons-r2.png");
}
#test-bg{
	background-image: url("../../html5/bt/round10.1/shell/shell-icons-r2.png");
}
#username-shell{
	position:absolute;
	width:100%;
	height:20px;
	text-align:center;
	top:203px;
	font-size:14px;
	color:#0155e1;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap; /* Last name was not displayed properly, Karishma Shah*/
}
.btn-text{
	position: absolute;
	bottom:7px;
	line-height:14px;
	width:100%;
	color:white;
	font-size:14px;
	text-align:center;
}
.btn-shell:hover {
	/*opacity: 1;*/
}

#btn-back {
	background-position: -4px 1px;
}

#btn-aboutme {
	background-position: -185px -206px;
	width: 86px;
	height: 88px;
	margin-bottom:15px;
}

#btn-mouse{
	background-position: -298px -193px !important;
	width: 88px !important;
	height: 102px !important;
	cursor: default;
}

#panel-left .cn_logo{
	background-position: -406px -193px !important;
}

#btn-home{
	background-position: -5px -176px !important;
}

#btn-changeuser {
	background-position: -90px 1px;
}
.mask-panel #btn-changeuser {
	z-index: 1;
}

#btn-language {
	background-position: -90px -78px;
}

#btn-tickets {
	background-position: -72px -73px;
}

#btn-search,
#btn-volume {
	background-position: -90px -157px;
}
#btn-tracer {
	position:absolute;
	width:30px;
	height:30px;
	bottom:0px;
	cursor:pointer;
}
#panel_root {
	left: 108px;
}

#btn-shell-options {
	position: absolute;
	width: 70px;
	height: 36px;
	left: 30px;
	bottom: 24px;
	background-position: -107px -245px;
	color: #0ca700;
}

#btn-shell-options:hover #shell-options-list {
	display: block;
}
#btn-shell-options #shell-options-list {
	margin: -39px 0 0;
	    padding: 0 10px;
	    list-style: none;
	    height: 84px;
	    position: absolute;
	    top: 50%;
	    left: 74px;
	    z-index: 10001;
	    background-size: 10px 80px;
	    color: #0ca700;
	    border: 2px solid #0ca700;
	    border-radius: 12px;
	    background-color: rgba(255,255,255, 0.9);
	    font-size: 14px;
	    display: none;
	    -moz-box-sizing: border-box;
	    -webkit-box-sizing: border-box;
	    box-sizing: border-box;
	    white-space: nowrap;
}


#btn-shell-options #shell-options-list::before {
	background-image: url("../../html5/bt/round10.1/shell/shell-icons-r2.png");
	background-repeat: no-repeat;
	background-position: -175px -27px;
	content: "";
	width: 22px;
	height: 34px;
	position: absolute;
	top: 23px;
	left: -22px;
}
#btn-shell-options-text{
	width:100%;
	height:15px;
	text-align:center;
	font-weight: 700;
	position:absolute;
	font-size:14px;
	bottom: 16px;
	color:#0ca700;
}
#ticket_machine_mask {
	padding-top: 0px !important;
}
#shell-options-list li {
	display: inline-block;
	width: 50px;
	height: 80px;
	margin: 0 4px 0;
	background-image: url("../../html5/bt/round10.1/shell/siteframe-spritesheet-min.png");
	text-align: center;
	position: relative;
}
#shell-options-list > li > span {
	vertical-align: middle;
	position: absolute;
	left: 0;
/*	bottom: 8px;	*/
	top: 54px;
	width: 100%;
	white-space: normal;
}
#shell-options-list #btn-parents {
	background-position: -255px -100px;
	width: 64px;
}
#shell-options-list #btn-parents-unmerged {
	background-position: -170px -100px;
	width: 64px;
}
#shell-options-list #btn-parents-lang-zhs {
	background-position: -255px -100px;
	width: 64px;
}
#shell-options-list #btn-parents-lang-zht {
	background-position: -255px -100px;
	width: 64px;
}
#shell-options-list #option-btn-volume {
	background-position: -439px -100px;
	width: 92px;
}
#shell-options-list #btn-printables {
	background-position: -413px -311px;
	width: 90px;
}

#shell-options-list #btn-assessments {
	background-image: url("../../html5/bt/round10.3/shell/shell-icons.png");
	background-position: -368px -311px;
	width: 93px;
}

#shell-options-list #btn-settings {
	background-position: -241px -100px;
	width: 93px;
}

#shell-options-list #btn-language {
	background-position: -400px -102px;
	width: 90px;
}
#shell-options-list #option-btn-change {
	background-position: -344px -100px;
	width: 88px;
}
#shell-options-list #option-3g {
	background: rgba(0,0,0,0);
	width: 141px;
}
#toggle-3g {
	float: left;
	width: 100%;
	height: 70px;
	line-height: 65px;
	text-align: center;
}
#toggle-3g span {
	width: 50%;
	border: 1px solid #0ca700;
	padding: 5px;
	font-size: 15px;
	background: rgb(251,249,245);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZiZjlmNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZmVkZTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgb(251,249,245) 0%, rgb(239,237,231) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(251,249,245)), color-stop(100%,rgb(239,237,231)));
	background: -webkit-linear-gradient(top,  rgb(251,249,245) 0%,rgb(239,237,231) 100%);
	background: -o-linear-gradient(top,  rgb(251,249,245) 0%,rgb(239,237,231) 100%);
	background: -ms-linear-gradient(top,  rgb(251,249,245) 0%,rgb(239,237,231) 100%);
	background: linear-gradient(to bottom,  rgb(251,249,245) 0%,rgb(239,237,231) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbf9f5', endColorstr='#efede7',GradientType=0 );
}
#toggle-3g span:first-child {
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	padding-left: 10px;
}
#toggle-3g span:last-child {
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	padding-right: 10px;
}
#toggle-3g span.active {
	-webkit-box-shadow: inset 3px 3px 15px 0px rgba(56,133,18,1);
	-moz-box-shadow: inset 3px 3px 15px 0px rgba(56,133,18,1);
	box-shadow: inset 3px 3px 15px 0px rgba(56,133,18,1);
	background: #0ca700;
	color: #fff;
}
/* Point of Interaction cursor in burger menu is active between "Teacher" and "Settings" -----------------------------*/
#shell-options-list {
	cursor: initial;
}
#shell-options-list li{
	cursor: pointer;
}
/* Point of Interaction cursor in burger menu is active between "Teacher" and "Settings"  end-------------------------*/

/*#hudleft {
	left: 0px !important;
}

#hudright {
	left: 795px !important;
}

#hud #block_area {
	left: 50px !important;
}*/

#ticket_machine_mask,
#housepet_div *,
#tubes_div *,
#cage_div *,
#tankback_div *,
#super_categories_5 *,
#change_user_leftside_logout,
#cursor,
#store_alert_new *,
#petpark_nopets *,
#block_area *,
#avatar *,
#pathPrize_window *,
#popupdiv *,
#dotarea *,
#content_window_3 *,
#border,#border2,
#featuredActivitiesTicket,
#sp_path_body,
#rtm_slider_bar, #rtm_slider,
#uc_area, #lc_area, #number_area, #shape_area, #createOwnBtn, #username,
#timer_settings_canvas
{
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);

	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;

	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-ms-perspective: 1000;
	perspective: 1000;
}

#password_check_popup {
	box-shadow: none !important;
}

#fullscreen, #fullscreenLbl, #wishlist_btn {
	display: none;
}

#cSupport {
	box-shadow: none !important;
}
#sidepanel_tab_petprk_sp {
	top: 128px !important;
}

.cs-inner .btnOK {
	top: 111px;
}

button {
	font-weight: 700;
	font-size: 16px;
}
img {
	border: 0px;
}
a {
	text-decoration: none;
	color: #666666;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
p {
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
}
.shadow {
	box-shadow: 3px 3px 2px #555;
}
.topinnershadow {
	box-shadow: inset 0px 3px 2px #555;
}
.leftinnershadow {
	box-shadow: inset 3px 0px 2px #555;
}
.btnimg {
	position:absolute;
	left:4px;
	cursor:pointer;
	width:75px;
	height:75px;
}
.testing_menublock {
	position:absolute;
	top:0px;
	background-color:#63A3F0;
	box-shadow: 3px 3px 2px #777777;
	border-left: 10px solid #63A3F0;
	border-bottom: 5px solid #63A3F0;
	border-right: 10px solid #63A3F0;
	border-radius:12px;
}
.testing_menulink {
	color:#FFFFFF;
	font-size:32px;
}
table {
	padding: 0 0 0 0;
}

#headerText {
	position:absolute;
	left:138px;
	top:64px;
	width:800px;
	height:62px;
	text-align:center;
	overflow:hidden;
	pointer-events:none;
}
#small_screen{
	position:absolute;
	opacity:.8;
	background-color:rgba(0, 0, 0, 0.80) !important;
	-webkit-transition: all 250ms;
	transition: all 250ms;
	left:108px;
	top:0px;
	width:900px;
	height:650px;
	visibility: hidden;
}

.ci_wrap {
	position:absolute;
	width:190px;
	height:180px;
	cursor:pointer;
}

.ci_white {
	position:absolute;
	left:15px;
	top:0px;
	width:165px;
	height:160px;
	border:2px solid white;
	border-radius:32px;
}

.ci_color {
	position:absolute;
	left:0px;
	top:0px;
	width:161px;
	height:156px;
	background-color:#FFFCDF;
	border-width:2px;
	border-style:solid;
	border-radius:30px;
}

.ci_icon {
	margin-top:-4px;
	margin-left:-6px;
}

.ci_counter {
	position:absolute;
	left:18px;
	top:133px;
	width:70px;
	height:28px;
	border-top-right-radius:28px;
	border-bottom-left-radius:28px;
}

.ci_star {
	margin-top:3px;
	margin-left:8px;
}

.ci_plays {
	text-align:center;
	width:88px;
	margin-top:-25px;
	color:white;
	font-size:15px;
}

.ci_label {
	text-align:center;
	width:170px;
	margin-left:14px;
	margin-top:165px;
	font-size:14px;
	color:#003FDE;
	font-weight: 400;
}
#sidePanelMask {
	position:absolute;
	top:30px;
	left:875px;
}

#panel_root{
	position:absolute;
	bottom:0px;
	left:0px;
	padding:0px;
	margin:0px;
	color:lightgray;
	background-color:black;
	cursor:pointer;
	font-size:18px;
}

#panel_root li{
	list-style-type:none;
	height:23px;
	margin:0px;
	padding:5px;
	text-align:center;
}

.testing_menu_item{
	border-bottom:solid black 1px;
	padding:0px;
	margin:0px;
	font-size:18px;
}

#rotations_menu {
	margin: 0;
	position: static;
	top: auto;
	left: auto;
	width: auto;
}

#rotations_menu .testing_menu_item{
	height: auto;
	padding: 0 5px;
	text-align: left;
	font-size: 17px;
}

#rotations_menu .testing_menu_item.highlight {
	background-color: #333;
}

.testing_menu{
	position:absolute;
	visibility:hidden;
	list-style-type:none;
	border:solid black 1px;
	border-bottom:0px;
	padding:0px;
	margin:0px;
	background-color:gray;
	color:white;
	margin-bottom:32px;
}
#testing_menu1{
	right:-100px;
	bottom:0px;
	width:200px;
}

#large_screen{
	position:absolute;
	opacity:.8;
	background-color:#FFFFFF;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	visibility: hidden;
}
.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.cursor {
	cursor:pointer;
}

.button_back {
	position:relative;
	display:inline;
	cursor:pointer;
	border-radius:11px;
	background-color:#0F7106;
	border-width:3px;
	border-style:solid;
	padding:0px 16px 12px 16px;
	margin:2px;
}
.button_shine {
	position:absolute;
	display:inline-block;
	background-color:#FFFFFF;
	border-radius:10px;
	opacity:0.2;
	width:100%;
	height:50%;
	top:0px;
	left:0px;
}
.button_label {
	position:relative;
	display:inline;
	font-size:16px;
	text-align:center;
	top:6px;
}

.highlight_off:hover {
	cursor: default;
}

#flashprinterholder, #recorderObject {
    opacity: 0;
    height: 1px;
}

@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
	#username-shell {
		font-size: 13px;
	}
}

#mp_closeBtn {
    cursor: pointer;
    width: 30px;
    height: 30px;
    color: #FFF;
    font-size: 20px;
    border-radius: 20px;
    position: absolute;
    text-align: center;
    right: 10px;
    top: 10px;
    background: #b5bdc8; /* Old browsers */
    background: -moz-linear-gradient(top,  #b5bdc8 0%, #828c95 36%, #28343b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5bdc8), color-stop(36%,#828c95), color-stop(100%,#28343b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #b5bdc8 0%,#828c95 36%,#28343b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #b5bdc8 0%,#828c95 36%,#28343b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #b5bdc8 0%,#828c95 36%,#28343b 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #b5bdc8 0%,#828c95 36%,#28343b 100%); /* W3C */

}

#mp_closeBtn:before {
    content: "x";
}
#wishlist_btn{
	display: none;
}

@media only screen {
	/* QA-10311 Ensure print div is hidden. Otherwise it overtakes the background image and is visible to the user. */
	#content-wrapper ~ #print-div {
		display: none;
	}
}

#shellOptionAssessmentNotificationBadge, #shellAssessmentNotificationBadge, #parentNotificationBadge {
	position: absolute;
	width: 18px;
	height: 18px;
	line-height: 18px;
	font-weight: 400;
	font-size: 12px;
	font-family: 'aofl-main-primary', Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	background-color: #E24B15;
	border: 2px solid #FFFFFF;
	border-radius: 18px;
	text-align: center;
	vertical-align: middle;
}
#shellOptionAssessmentNotificationBadge {
	top: -10px;
	left: 35px;
}
#shellAssessmentNotificationBadge {
	top: 7px;
	left: 48px;
}
#parentNotificationBadge {
    top: 7px;
    left: 38px;
}


/*
 * PRACTICE PAGES WARNING MODAL
 */
#warning-modal {
	position:absolute;
	right:0px;
	top:0px;
	bottom:0px;
	left:0px;
	background-color: rgba(0,0,0, 0.5);
	z-index: 9999;
}

#warning-modal .warning-modal-content {
	position: relative;
	overflow: hidden;
	margin:0px auto;
	background: #fefef6;
	border-radius:20px;
	width:520px;
	box-shadow: 0px 0px 5px #000000;
	-moz-box-shadow: 0px 0px 5px #000000;
	-webkit-box-shadow: 0px 0px 5px #000000;
	padding-bottom: 10px;
	z-index: 9999;
}

#warning-modal .warning-modal-content .warning-header {
  background: #1370e9;
  color: #fff;
  padding: 15px;
  font-size: 20px;
}

#warning-modal .warning-modal-content #warning-closeX {
  position: absolute;
  top: 10px;
  right: 15px;
  background: #fefef6;
  border-radius: 20px;
  color: #1370e9;
  padding:6px 11px;
  cursor: pointer;
  font-size:18px;
}

#warning-modal .warning-modal-content p {
	padding:0px;
	margin: 0px;
	padding: 30px 10px 25px 10px;
	font-weight: normal;
}

#warning-modal .warning-modal-content #warning-close-btn {
  display: inline-block;
  float: right;
  margin-right:10px;
  
  background: #1370e9; /* Old browsers */
  background: -moz-linear-gradient(top,  #1370e9 0%, #1271e9 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #1370e9 0%,#1271e9 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #1370e9 0%,#1271e9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1370e9', endColorstr='#1271e9',GradientType=0 ); /* IE6-9 */
  
  border: solid 1px #0058e8;
  color: #fff;
  padding: 10px 40px;
  border-radius:20px;
  margin-right:10px;
  cursor:pointer;
}
